<style>
    .flex-container {
        display: flex;
        justify-content: space-between; /* İki div arasında boşluk bırakır */
        align-items: center; /* Dikey hizalama */
    }
</style>





@{
    ViewData["Title"] = "Index";
}

@model List<Product>


@if (@TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert" style="margin-top:32px">
        @TempData["status"]
    </div>
}


<br />


<br />



<div class="row row-cols-1 row-cols-md-3 g-4">

    

    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">

                @if (!string.IsNullOrEmpty(item.url))
                {
                    <img src="/resimler/@item.url" id="img" class="card-img-top" style="object-fit: cover;width: 354px;height: 354px;" alt="...">
                }
                else
                {
                    <img src="/resimler/ec05b167-5a56-4d6c-8147-b105b3b5abc1.png" class="card-img-top" style="object-fit: cover;width: 354px;height: 354px;" alt="...">
                }


                <div class="card-body">
                    <div class="flex-container">
                        <div>
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div>
                           
                            <button type="button" class="btn btn-primary">
                                <a asp-controller="Products" asp-action="Update" asp-route-id="@item.Id" style="color:white;text-decoration:none">Update </a>
                            </button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    }




</div>

@* 


<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Color2</th>
            <th>Is Publish</th>
            <th>Süre1</th>
            <th>Süre2</th>
            <th>Açıklama</th>
            <th>Proccess</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@item.Color2</td>
                <td>@(item.isPublish ? "Evet" : "Hayır")</td>
                <td>@item.Expire</td>
                <td>@item.Expire2</td>


                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.Id">
                        ...
                    </button>

                    <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel-@item.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@item.Id">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @if (item.Description != null)
                                    {
                                        @item.Description
                                    }
                                    else
                                    {
                                        <p>ürün açıklaması yok</p>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>






                <td>

                    <a asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Remove </a>
                    <a asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Update </a>

                </td>
            </tr>
        }
    </tbody>

</table>
 *@
