<style>
    .yaziyi_ortala {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@{
    ViewData["Title"] = "Update";
}
<br />
<h1 style="margin-left:15px">Ürün güncelle</h1>

@model Product

@{
    string urlAttributeValue = Model.url;
}

<form asp-controller="Products" asp-action="Update" method="post" enctype="multipart/form-data">
    <br />
    <div class="container" style="margin-top:15px;">
        <div class="row">
            <div class="col-4 yaziyi_ortala">
                <div class="card">
                    <img src="/resimler/@urlAttributeValue" class="card-img-top" style="object-fit: cover;width: 354px;height: 354px;" alt="...">
                </div>
            </div>
            <div class="col-7 " style="margin-left:20px">
                <div class="mb-4">
                    <label for="formFile" class="form-label"></label>
                    <input class="form-control" type="file" name="url">
                </div>



                <div class="form-group">
                    <label asp-for="Name" style="display:none;"></label>
                    <input class="form-control" type="text" asp-for="Name" placeholder="başlık" />
                </div>
                <br />
                <form>
                    <div class="form-group" style="margin-bottom: 18px;">
                        <textarea class="form-control" asp-for="Description" row="7" placeholder="Ürün açıklaması"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submit" autocomplete="off" style="padding-left:15px;padding-right:15px;margin-right:3px">Save</button>



                    <button type="submit" class="btn btn-primary" name="submit" autocomplete="off">
                        <a asp-controller="Products" asp-action="Remove" asp-route-id="@Model.Id" style="text-decoration:none;color:white">Remove </a>
                    </button>


                </form>

            </div>
        </div>
    </div>


    <br />




</form>

@*
    <div class="form-group">
        <label asp-for="Price">urun fiyatı</label>
        <input class="form-control" type="text" asp-for="Price" />
    </div>

    <div class="form-group">
        <label asp-for="Stock">urun stoğu</label>
        <input class="form-control" asp-for="Stock" />
    </div>

    <div class="form-group">
        <label asp-for="Color">urun rengi</label>
        <input class="form-control" type="text" asp-for="Color">
    </div>
    <br />

    <div class="mb-3">
        <select class="form-select" asp-for="Color2" asp-items="@ViewBag.ColorSelect">
            <option value="">renk seçiniz</option>
        </select>
    </div> *@
@*
    <div class="form-check">
        <input class="form-check-input" asp-for="isPublish">
        <label class="form-check-label" asp-for="isPublish">
            yayınlansın mı?
        </label>
    </div>
 *@


@*  <span>ürün kaç ay stokta kalsın ?</span>
    @foreach (var item in @ViewBag.Expire as List<string>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" id="@item" asp-for="Expire" value="@item">
            <label class="form-check-label" asp-for="Expire" for="@item">
            </label>
        </div>
    } *@


@*   <span>ürün kaç ay stokta kalsın ?</span>
    @foreach (var item in @ViewBag.Expire2 as Dictionary<string, int>)
    {
        <div class="form-check">
            <input checked=@(item.Value==ViewBag.expireValue ? true : false )
                   class="form-check-input" type="radio" id="@item.Value" asp-for="Expire2" value="@item.Value">
            <label class="form-check-label" asp-for="Expire2" for="@item.Value">
                @item.Key
            </label>
        </div>
    }

 *@

@* guzel gozukur çalışmaz *@
@*     <div class="row form-group" style="background-color: #f0f0f0; padding: 10px;">
    <label for="date" class="col-sm-1 col-form-label" asp-for="PublishDate" style="color: blue;">Date</label>
    <div class="col-sm-4">
    <div class="input-group date" id="datepicker">
    <input type="datetime" class="form-control" asp-for="PublishDate">
    <span class="input-group-append">
    <span class="input-group-text bg-white d-block">
    <i class="fa fa-calendar"></i>
    </span>
    </span>
    </div>
    </div>
    </div> *@

@* çalışır *@
@* <div class="row form-group" style="background-color: #f0f0f0; padding: 10px;">
        <label for="date" class="col-sm-1 col-form-label" style="color: blue;">Date</label>
        <div class="col-sm-4">
            <!-- Sadece tarih girişi için type="date" kullanılıyor -->
            <input type="date" class="form-control" asp-for="PublishDate">
        </div>
    </div>
 *@





@* <button type="submit">kaydet</button> *@
@* <button type="submit" class="btn btn-primary">kaydet</button> *@
@* type ifadesini button yaparsan bilgiler backend kısmına gitmez *@



<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]); // Dosyayı oku ve veri URL'sine dönüştür
        }
    }
</script>






















































@*
    <div class="form-group">
        <label asp-for="Price">urun fiyatı</label>
        <input class="form-control" type="text" asp-for="Price" />
    </div>

    <div class="form-group">
        <label asp-for="Stock">urun stoğu</label>
        <input class="form-control" asp-for="Stock" />
    </div>

    <div class="form-group">
        <label asp-for="Color">urun rengi</label>
        <input class="form-control" type="text" asp-for="Color">
    </div>
    <br />

    <div class="mb-3">
        <select class="form-select" asp-for="Color2" asp-items="@ViewBag.ColorSelect">
            <option value="">renk seçiniz</option>
        </select>
    </div> *@

@* <div class="form-check">
        <input class="form-check-input" asp-for="isPublish">
        <label class="form-check-label" asp-for="isPublish">
            yayınlansın mı?
        </label>
    </div>
 *@


@*  <span>ürün kaç ay stokta kalsın ?</span>
    @foreach (var item in @ViewBag.Expire as List<string>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" id="@item" asp-for="Expire" value="@item">
            <label class="form-check-label" asp-for="Expire" for="@item">
            </label>
        </div>
    } *@
<br />


@*   <span>ürün kaç ay stokta kalsın ?</span>
    @foreach (var item in @ViewBag.Expire2 as Dictionary<string, int>)
    {
        <div class="form-check">
            <input checked=@(item.Value==ViewBag.expireValue ? true : false )
                   class="form-check-input" type="radio" id="@item.Value" asp-for="Expire2" value="@item.Value">
            <label class="form-check-label" asp-for="Expire2" for="@item.Value">
                @item.Key
            </label>
        </div>
    }

 *@

@* guzel gozukur çalışmaz *@
@*     <div class="row form-group" style="background-color: #f0f0f0; padding: 10px;">
    <label for="date" class="col-sm-1 col-form-label" asp-for="PublishDate" style="color: blue;">Date</label>
    <div class="col-sm-4">
    <div class="input-group date" id="datepicker">
    <input type="datetime" class="form-control" asp-for="PublishDate">
    <span class="input-group-append">
    <span class="input-group-text bg-white d-block">
    <i class="fa fa-calendar"></i>
    </span>
    </span>
    </div>
    </div>
    </div> *@

@* çalışır *@
@* <div class="row form-group" style="background-color: #f0f0f0; padding: 10px;">
        <label for="date" class="col-sm-1 col-form-label" style="color: blue;">Date</label>
        <div class="col-sm-4">
            <!-- Sadece tarih girişi için type="date" kullanılıyor -->
            <input type="date" class="form-control" asp-for="PublishDate">
        </div>
    </div>
 *@





@* <button type="submit">kaydet</button> *@
@* <button type="submit" class="btn btn-primary">kaydet</button> *@
@* type ifadesini button yaparsan bilgiler backend kısmına gitmez *@









